body {
  background-color: rgb(6, 114, 133);
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

h1, h2, h3 {
  color: #ffffff;
}

.card {
  background-color: #b3b378;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-title, .card-text {
  color: #ffffff;
}

.btn-primary {
  background-color: #4c6ef5;
  border: none;
}

.btn-primary:hover {
  background-color: #3a57db;
}

.btn-danger {
  background-color: #ff6b6b;
}

.btn-danger:hover {
  background-color: #fa5252;
}
